
/* global css */

body{

    font-family: 'Roboto', sans-serif;
    padding: 20px 50px;
}

h1{

    font-size:50px;
    color: #575757;
}
p{

    color:#828282;
}
.flaxable-section{
   display: flex;
}

.sec-left-width{
 
    width: 50%;
}

.sec-right-width{

    width: 50%;

}

.sec-right-width img{

    width: 80%;
     float: right;
}

/* global css close */

/* Hero area css start */

.h-text-color{
    color: #FBA24F;
}
.btn-design{

     color: white;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 20px;
    background-image: linear-gradient(#FBA24F,#FF1E1E);
    box-shadow: 2px 2px 2px 2px rgb(231, 224, 224) ;
}

.design-content{

    padding: 20px 20px 30px 100px;
    
}
.design-content p{
    padding: 5px 0px 30px 0px;
    font-size: 20px;
}

/* hero area css close */

/* About section csss start */

#about-section{

    background-image: url(./images/shapes/7.png);
}

.sec-left-width img{

     width: 50%;
     padding-left: 150px;
     padding-top: 80px;
}

#about-section  h1{
    font-size: 30px;
}

.sec-right-width.design-content {
    padding: 80px;
}

/*close about section */

/* recipe section start */

#recipe-section{
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
}
#recipe-title{
        width: 50%;
        margin: auto;
        text-align: center;
        padding-bottom: 30px;
    }
#recipe-title h1{
        font-size:35px;
    }
    
}

#recipe-title h1,p{

    text-align:center;
    
}


#recipe-section .food-item {
    width: 50%;

}
.food-item{

    margin: 0px 20px;
    border-radius: 2px solid red;
    box-shadow: 5px 5px 20px 5px silver;
    border-radius: 25px;
}


#recipe-section .food-item img{
padding: 10px;
width: 90%;
}
.food-item h3,p{

    padding: 5px 20px;
}

/* close my recipe section */

/* skill section start */

#skill-section{

   margin: auto;
}

.skill-item{

    margin: auto;
    text-align:center;
    padding: 40px 40px;
}
.skill-item h1,p{
    margin:0px;
}

.skill-all-item {
    width: 86%;
    margin: auto;
    box-shadow: 2px 1px 2px 2px silver;
    text-align: center;
    margin: auto;
    border-radius: 20px;

}

/* close skill section */

/*footer section content */

.footer-section{

  background-color: black;
  text-align: center;

}

.footer-content h1 {
    font-size: 36px;
    padding-top: 30px;
    margin-top: 96px;
}
.footer-content p{

    padding-bottom: 20px;
}
.footer-content p {
    padding-bottom: 105px;
}






